html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-repeat: repeat;
  background-size: 64px;
  background-color: #588477;
  border-style: solid;
  border-top-color: #2d5a4d;
  border-bottom-color: #2d5a4d;
  border-width: 3px;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-style: solid;
  border-width: 3px;
  border-color: #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: .75em;
  background-size: 64px;
  color: #145b1d;

}

.banner {
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, 8)), url("../images/banner.jpg");
  background-position: left bottom, center bottom;
  background-size: 100% 50%, cover;
  background-repeat: no-repeat;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  padding-top: 300px;
  background-size: 100px;
  background-position: .75em 180px;
  background-repeat: no-repeat;
  color: white;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
